# Ignorar entornos virtuales
venv/
.venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos locales
*.log
*.e
venv/
__pycache__/
*.pyc
.DS_Store
*.log
*.swp
# editor/IDE
.vscode/
.idea/
